# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "quarterly"
      time: "09:00"
      timezone: "Europe/Helsinki"
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
      time: "09:00"
      timezone: "Europe/Helsinki"
    groups:
      all-actions:
        patterns:
          - "*"
