# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage/
coverage.*
coverage-summary.*
*.coverprofile
profile.cov
plans

# Go workspace file
go.work
go.work.sum

# env file
.env

# Os
.DS_Store

# Firebase
firebase-debug.log*
firebase-debug.*.log
firestore-debug.log*
firestore-debug.*.log*
.firebase/
