name: Pull Request Labeler

on:
- pull_request_target

permissions:
    contents: read
    pull-requests: write
    issues: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  label-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Run labeler
        uses: actions/labeler@v6.0.1
        with:
          configuration-path: .github/labeler.yml
          sync-labels: true
